/*  start variable */
:root{
  --mainn-color:#10cab7;
  --secondary-color:#2c4577;
}
/* end variable */
 /* start component  */
 .special-heading{
  color: #ecebed;
  font-weight: 800;
  font-size: 100px;
  letter-spacing: -3px;
  margin: 0;
  text-align: center;
 }
 .special-heading + p{
  margin: -40px 0;
  text-align: center;
  font-size: 20px;
  color: #777;
 }
 @media (max-width:760px) {
  .special-heading{
    font-size: 60px;
  
   }
   .special-heading + p{
margin-top: -25px;
    
   }
 }
  /* end componnent  */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Work Sans", sans-serif;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Global Rules */
 /* start heading  */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* display: none; */
  }
  .header .links:hover .icon span:nth-child(2){
    width: 100%;
  }
  .header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
  }
  .header .links .icon span:first-child {
    width: 100%;
  }
  .header .links .icon span:nth-child(2) {
    width: 60%;
    transition:0.3s;
  }
  .header .links .icon span:nth-child(3) {
    width: 100%;
  }
  .header .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: 85px;
    display: none;
  z-index: 1;
  } 
  .header .links:hover ul{
    display: block;
  }
  .header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -10px;
  }
  .header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
  }
  .header .links ul li a:hover{
    padding-left: 25px;
  }
  .header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
  }
  /* end heading  */
  /*  start landing section */
  .landing{
    background-image: url(../img/landing.jpeg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
  }
  .landing .intro-text{
    position: absolute;
    top: 50%;
    left:50%;
        text-align: center;
        width: 320px;
        max-width: 100%;
    transform: translate(-50%, -50%);
  }
  .landing .intro-text h1{

    margin: 0;
    font-weight: bold;
    font-size:25px;
    color:var(--mainn-color) ;
  }
  .landing .intro-text p{
    font-size: 19px;
    line-height: 28px;
  }
  /* end landing section  */
  /* start feature section  */
  .feature{
    padding-top:25px;
    padding-bottom: 25px;
    background-color: #f6f6f6;
  }
  .feature .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    grid-gap: 30px;
  }
  .feature .feat{
    padding: 20px;
    text-align: center;
  }
  .feature .feat i{
    font-size: 40px;
    color: var(--mainn-color);
  }
  .feautre .feat h3{
    font-weight: 800;
    margin: 0 30px;
  }
  .feature .feat p{
    font-size: 18px;
    
    color: #777;
  } 
   /* end feature section */
   /* start services */
   .services{
    padding-top:60px;
  padding-bottom: 60px;
   }
  .services .service-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
  }
  .services .service-content .srv{
    display: flex;
    margin-bottom: 40px;
  }
  @media (max-width:760px){
    .services .service-content .srv{
      flex-direction: column;
      text-align: center;
    }
  }
  .services .service-content .srv i{
    color:var(--mainn-color);
    flex-basis: 60px;
    font-size: 30px;
  }
  .services .service-content .srv .srv-content{
    flex: 1;
  }
  .services .service-content .srv .srv-content h3{
    margin: 0 0 20px;
  }
  .services .service-content .srv .srv-content p{
    color: #333;
    font-weight:300 ;
    line-height: 1.8;
  }
  .services .service-content  .image{
    text-align: center;
    position: relative;
  }
  .services .service-content  .image img{
    width: 250px;
    height: 300px;
  }
  .services .service-content  .image:before{
    content:"";
    background-color: var(--secondary-color);
    position: absolute;
    top:-50px;
    right: 0;
    width: 80px;
    height: calc(100% + 100px);
    z-index: -1;
  }
  @media (max-width:1190px){
  .image-visibility{
      display: none;
    }
  }
  /* end services */
 /* start project  */
 .project{
  padding-top:60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
 }
 .project-content{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
 }
 .project-content .card{
  background-color: white;
 }
 .project-content .card  img{
  max-width: 100%;
 }
 .project-content .card .info-text{
  padding: 10px;
 }
 .project-content .card .info-text p{
  color: #777;
 }
 /* end project  */
 /* star about section  */
 .about{
  padding-top:60px;
  padding-bottom: 60px;
 }
 .about .about-content{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
 }
 @media (max-width:990px){
  .about  .about-content{
    flex-direction: column;
    text-align: center;
  }
  .about-content .image-about:after,
  .about-content .image-about:before{
    display: none;
  }
  .about-content .image-about {
    margin: 0 auto 60px;
  }
 }
 .about-content .image-about {
  position: relative;
  width: 250px;
  height: 375px;
 }
 .about-content .image-about:before{
  content:"";
  background-color: var(--secondary-color);
  position: absolute;
  top:-40px;
  left: -20px;
  width: 80px;
  height: calc(100% + 100px);
  z-index: -1;
 }
 .about-content .image-about:after{
  content:"";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid red;
  border-bottom: 80px solid red;
  z-index: -1;
  top: -45px;
  right:-190px ;

 }
 .about-content .image-about img{
  max-width:100%;
 }
 .about .about-content .info-about {
  flex-basis: calc(100% - 500px);
}
.about .about-content .info-about p:first-of-type{
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
 }
 .about-content .info-about hr{
  border-color: var(--mainn-color);
  width: 50%;
  display: inline-block;

 }
 .about .about-content .info-about p:last-of-type{
  line-height: 1;
  color: #777;
 }
 
 /* end about section  */
 /* start contact section  */
 .contact{
  padding-top:60px;
  padding-bottom: 60px;
  background: #f6f6f6;
 }
 .contact .info{
  padding-top:60px;
  padding-bottom: 60px;
  text-align: center;
 }
 .contact .info .label{
  font-weight: 900;
  font-size: 30px;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin: 0 0 20px 0;
 }
 .contact .info .link{
  display: block;
  text-decoration: none;
  font-weight: 800;
  font-size: 30px;
  color: var(--mainn-color);
 }
 .contact .info .social{
  display: flex;
  justify-content: center;
  margin-top:20px ;
  font-size: 16px;
 }
 .contact .info .social i{
  margin-left:10px;
  color: var(--secondary-color);
 }

 /* end contact sectioon  */
 /* start footer section  */
 .footer{
   text-align: center; 
  background: var(--secondary-color);
  padding: 20px 20px;
 }

 .footer span{
  color: #dde;
 }
 .footer  span .name{
  color: var(--mainn-color);
 }
 /* end footer section  */
